body{
    background-color: #DDDDCD;
}

button{
    outline: none;
}
button:hover{
    cursor: pointer;
}

#zip-code:focus, #city-name:focus{
    border-radius: 20px 20px 0px 0px;
    background-color: #DDDDCD;
    color: #5A665E;
}

#header-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 200px;    
    font-size: 4vw; 
    font-weight: bold;
    background-color: #596869;
    color: #F5F9E9;
    padding-bottom: 25px; 
}

#button-wrapper{
    display: flex;
    /*border: 1px solid blue;*/
    width: 100%;
    background-color: #596869;
}

.button-layout{
    font-size: 1.6vw;
    border: none;
    padding: 20px 0px;
    color: #F5F9E9;
    background-color: #596869;
}

#empty-space{
    flex:3;
}

#zip-code{
    margin-left: 25px;
    flex: 1;
    /* background-color: limegreen; */
}

#city-name{
    flex:1;
    /* background-color: purple; */
}

#form-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid green; */
    margin-top: 100px;
}

#zip,#city{
    
    background-color: #E8E8DE;
    border-radius: 10px;
    width: 35%;
    padding: 10px;
}